<html>
  <head>
    <meta name="referrer" content="no-referrer" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="icon" href="../public/favicon.ico"/>
    <title>SimpliReader</title>

    <style type="text/css">
      h1 {
        text-decoration: solid;
        font: 34px/1.6 "Microsoft Yahei", arial, tahoma, \5b8b\4f53, sans-serif;
        padding: 5px;
      }

      h4 {
        font-weight: bold;
        padding-top: 30px;
      }

      p {
        font: 16px/1.6 "方正准圆简体", "Microsoft Yahei", tahoma, \5b8b\4f53, sans-serif;
      }

      li {
        font: 17px/1.5 "Microsoft Yahei", arial, tahoma, \5b8b\4f53, sans-serif;
        list-style:circle, decimal;
        line-height: 200%;
        color: rgb(48, 25, 61);
      }

      table {
        border: 2px solid black;
      }
      td {
        border: 1px solid black;
      }

      img {
        text-align: center;
        padding: 20px;
        max-width: 90%;
      }

      .article-container {
        margin: 30px;
      }

    </style>
  </head>

  <body>
    <div class="article-container">
      <article>
        <h1><%= article.title %></h1>
        <%- article.content %>
      </article>
      <% include foot %>
    </div>
  </body>
</html>
