<html>
  <head>
    <meta name="referrer" content="no-referrer" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/css/article.css" />
    <title>SimpliReader</title>
  </head>

  <body>
    <div class="article-container">
      <article>
        <h1><%= article.title %></h1>
        <%- article.content %>
      </article>
      <% include foot %>
    </div>
  </body>
</html>
